*{
    text-decoration: none;
}
.navbar{
 padding-right: 15px; padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo img{
    display: relative;
    width: 150px;
    float:left;
    margin-top:16px;
    cursor: pointer;
}
li{
    list-style: none; display: inline-block; padding-inline: 25px;
}
li a{
    color: black; font-size: 18px; font-weight: bold; margin-right: 25px;
}